[bumpversion]
current_version = 0.2.55
commit = True
tag = True

[bumpversion:file:package.json]

[bumpversion:file:frontend/package.json]

[bumpversion:file:backend/package.json]

[bumpversion:file:packaging/npm/one/package.json]

[bumpversion:file:packaging/npm/cli/package.json]

[bumpversion:file:packaging/npm/backend/package.json]

[bumpversion:file:cli/Cargo.toml]

[bumpversion:file:cli/Cargo.lock]

[bumpversion:file:packaging/install.sh]
search = VERSION_PIN="{current_version}"
replace = VERSION_PIN="{new_version}"
