# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
.env*
keys

# misc
.DS_Store
*.pem

# debug
*.log

BUGS.md

/awscliv2.sig
/.idea/
/.claude/
/dist/
/dist-ts/
/design/
/.run/
/.codex
/coverage/
/node_modules/
/target/
/build/
/frontend/dist/
